<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ashiswin.kodyac">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="ocr" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity android:name=".MainActivity">

            <!-- test link -->
            <tools:validation testUrl="https://www.kodyac.tech/links/kycmain.php?id=18" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.kodyac.tech"
                    android:pathPrefix="/links"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".VerificationMethodsActivity" />
        <activity android:name=".SMSVerificationNumberActivity" />
        <activity android:name=".SMSVerificationOTPActivity" />
        <activity android:name=".PhotoVerificationSelfieActivity" />
        <activity
            android:name=".BasicInformationVerificationActivity"
            android:screenOrientation="sensorPortrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ashiswin.kodyac.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".PhotoVerificationNRICActivity" />
        <activity android:name=".VideoVerificationVideoActivity" />
        <activity android:name=".VideoVerificationNRICActivity"></activity>
    </application>

</manifest>